<div class="_6479b6ff84ab4 b-p">
    <div class="planned">
        <div class="planned-title">
            <img src="assets/templates/images/webinar/planned_webinars.svg" alt="planned webinars">
            <h1>Планируемые вебинары</h1>
        </div>
        [[+planned]]
    </div>
    <div class="completed">
        <div class="planned-title">
            <img src="assets/templates/images/webinar/planned_webinars.svg" alt="planned webinars">
            <h1>Завершенные вебинары</h1>
        </div>
        [[+completed]]
    </div>
    <div class="all-webinars">
        <a class="webinars" href="#">Все вебинары</a>
    </div>
</div>