<div class="_647ee2a459a82 b-p">
    <div class="contact-container">
        <div class="title">
            <h1>Связаться с нами</h1>
        </div>
        <form class="contact">
            <input class="form-control" placeholder="ФИО">
            <input class="form-control" placeholder="Email">
            <textarea class="form-control" placeholder="Сообщение"></textarea>
            <button class="btn btn-secondary w-100">Отправить</button>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    Нажимая на кнопку “Отправить”, вы принимаете условия договора-оферты и даете согласие на обработку своих персональных данных в соответствии с политикой конфиденциальности.
                </label>
            </div>
        </form>
    </div>
</div>