<div class="_647855a9cd481">
    <div class="production-list">
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/oil_and_gas_industry.svg" alt="oil and gas industry">
            </div>
            <div class="node-text">
                <p>Нефтегазовая<br>промышленность</p>
            </div>
        </div>
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/petrochemical_industry.svg" alt="petrochemical industry">
            </div>
            <div class="node-text">
                <p>Нефтехимическая<br>промышленность</p>
            </div>
        </div>
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/shipbuilding.svg" alt="shipbuilding">
            </div>
            <div class="node-text">
                <p>Судостроение</p>
            </div>
        </div>
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/automotive_industry.svg" alt="automotive industry">
            </div>
            <div class="node-text">
                <p>Автомобильная<br>промышленность</p>
            </div>
        </div>
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/analytical_equipment.svg" alt="analytical equipment">
            </div>
            <div class="node-text">
                <p>Аналитическое<br>оборудование</p>
            </div>
        </div>
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/microelectronics.svg" alt="microelectronics">
            </div>
            <div class="node-text">
                <p>Микроэлектроника</p>
            </div>
        </div>
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/food_industry.svg" alt="food industry">
            </div>
            <div class="node-text">
                <p>Пищевая<br>промышленность</p>
            </div>
        </div>
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/pharmaceuticals.svg" alt="pharmaceuticals">
            </div>
            <div class="node-text">
                <p>Фармацевтика</p>
            </div>
        </div>
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/medicine.svg" alt="medicine">
            </div>
            <div class="node-text">
                <p>Медицина</p>
            </div>
        </div>
        <div class="plist-node">
            <div class="node-icon">
                <img src="/assets/templates/images/production_direction/energy.svg" alt="energy">
            </div>
            <div class="node-text">
                <p>Энергетика</p>
            </div>
        </div>
    </div>
</div>