<div class="_64799a6aacbf8" style="background: url('[[+src]]') no-repeat; height: [[+height]]px;">
    <div class="tinting"></div>
    <div class="banner-box b-p">
        <div>
            <div class="title"><p>[[+longtitle]]</p></div>
            <div class="banner-description">
                <div class="content"><p>[[+content]]</p></div>
                <div class="annotation"><p>[[+description]]</p></div>
            </div>
        </div>
        <div class="banner-footer">
            <p>[[+introtext]]</p>
        </div>
    </div>
</div>