<footer>
    <div class="logo">
        <a href="/">
            <img src="/assets/templates/images/footer/logo.svg" alt="logo">
        </a>
    </div>
    <div class="contacts">
        <a href="/" class="title">Контакты</a>
        <a href="tel:+74959844100" class="link">
            <div class="group">
                <img src="/assets/templates/images/footer/phone.svg" alt="phone">
                <span>+7 (495) 984-41-00</span>
            </div>
        </a>
        <a href="mailto:mail@fluid-line.ru" class="link">
            <div class="group">
                <img src="/assets/templates/images/footer/mail.svg" alt="mail">
                <span>mail@fluid-line.ru</span>
            </div>
        </a>
        <a href="/" class="link">
            <div class="group">
                <img src="/assets/templates/images/footer/position.svg" alt="position">
                <span>Москва, Большая Семёновская ул., д.49</span>
            </div>

        </a>
    </div>
    <div class="connect">
        <p class="title">Присоединяйтесь к нам:</p>
        <div class="socials">
            <a href="/">
                <img src="/assets/templates/images/footer/youtube.svg" alt="">
            </a>
            <a href="/">
                <img src="/assets/templates/images/footer/vk.svg" alt="">
            </a>
            <a href="/">
                <img src="/assets/templates/images/footer/dzen.svg" alt="">
            </a>
            <a href="/">
                <img src="/assets/templates/images/footer/telegram.svg" alt="">
            </a>
            <a href="/">
                <img src="/assets/templates/images/footer/classmates.svg" alt="">
            </a>
        </div>
    </div>
    <div class="marks">
        <a href="/">
            <img src="/assets/templates/images/footer/companies/646e10b9cb6c7.svg" alt="">
        </a>
        <a href="/">
            <img src="/assets/templates/images/footer/companies/646e10eb497d3.svg" alt="">
        </a>
        <a href="/">
            <img src="/assets/templates/images/footer/companies/646e11454bf1f.svg" alt="">
        </a>
        <a href="/">
            <img src="/assets/templates/images/footer/companies/646e115015aea.svg" alt="">
        </a>
        <a href="/">
            <img src="/assets/templates/images/footer/companies/646e115821453.svg" alt="">
        </a>
    </div>
    <div class="payment">
        <a href="/">
            <img src="/assets/templates/images/footer/payments/MIR.svg" alt="">
        </a>
        <a href="/">
            <img src="/assets/templates/images/footer/payments/VISA.svg" alt="">
        </a>
        <a href="/">
            <img src="/assets/templates/images/footer/payments/mastercard.svg" alt="">
        </a>
        <a href="/">
            <img src="/assets/templates/images/footer/payments/maestro.svg" alt="">
        </a>
    </div>
    <div class="sitemap">
        <a href="/" class="text title">Карта сайта</a>
        <a href="/" class="text">Политика конфиденциальности</a>
    </div>
    <div class="copyright">
        <p>© 2009-2022 ООО «Флюид-Лайн»</p>
    </div>
</footer>