<footer>
    <div class="logo">
        <a href="/">
            <img src="/assets/templates/images/footer/logo.svg" alt="logo">
        </a>
    </div>
    <div class="contacts">
        <a href="/" class="title">Контакты</a>
        <a href="tel:+74959844100" class="link">+7 (495) 984-41-00</a>
        <a href="mailto:mail@fluid-line.ru" class="link">mail@fluid-line.ru</a>
        <a href="/" class="link">Москва, Большая Семёновская ул., д.49</a>
    </div>
    <div class="connect">
        <p>Присоединяйтесь к нам:</p>
        <div class="social">
            <a href="/">1</a>
            <a href="/">2</a>
            <a href="/">3</a>
            <a href="/">4</a>
            <a href="/">5</a>
        </div>
    </div>
    <div class="mark">
        <div class="logos">
            <a href="/">1</a>
            <a href="/">2</a>
            <a href="/">3</a>
            <a href="/">4</a>
            <a href="/">5</a>
        </div>
    </div>
    <div class="payment">
        <div class="social">
            <a href="/">1</a>
            <a href="/">2</a>
            <a href="/">3</a>
            <a href="/">4</a>
            <a href="/">5</a>
        </div>
    </div>
    <div class="sitemap">
        <a href="/">Карта сайта</a>
        <a href="/">Политика конфиденциальности</a>
    </div>
</footer>