<header>
    <div class="logo">
        <a href="/">
            <img src="/assets/templates/images/header/logo.svg" alt="logo">
        </a>
    </div>
    <div class="attachments">
        <div class="contacts">
            <a href="mailto:mail@fluid-line.ru">mail@fluid-line.ru</a>
            <a href="tel:+74959844100">+7 (495) 984-41-00</a>
        </div>
        <div class="services">
            <a href="/">
                <img src="/assets/templates/images/header/cart.svg" alt="cart">
            </a>
            <div class="profile">
                <a href="/">
                    <img src="/assets/templates/images/header/person.svg" alt="cart">
                </a>
                <div class="auth">
                    <a href="/">
                        Вход
                    </a>
                    <a href="/">
                        Регистрация
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mini">
        <div class="navigation">
            <a class="link lh" href="/">Продукция</a>
            <a class="link lh" href="/">О компании</a>
            <a class="link lh" href="/">Новости</a >
            <a class="link lh" href="/">Контакты</a>
            <a class="link lh" href="/">Справочная информация</a>
        </div>
        <div class="search">
            <input type="text" value="">
            <img src="/assets/templates/images/header/search.svg" alt="search">
        </div>
    </div>
</header>
