@import "~bootstrap/scss/bootstrap.scss";

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 100vw;
    min-height: 100vh;
}

.b-p {
    padding: 0 calc(180px + (100vw - 1440px) * (240 / 480));

    @media (max-width: 1440px) {
        padding: 0 180px;
    }
}

@import "blocks/header";
@import "blocks/footer";
@import "optionally/production_direction.scss";
@import "optionally/descriptions.scss";
@import "optionally/products";
@import "banners/banner";
@import "webinars/webinar";
@import "events/event";
@import "news/news";
@import "certificates/certs";
