@import "~bootstrap/scss/bootstrap.scss";

h1 {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: hidden;

    min-width: 100vw;
    min-height: 100vh;
}

* {
    scrollbar-width: thin;
    scrollbar-color: white #e2e2e2;
}

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 12px;
    border: 1px solid #e2e2e2;
}

.b-p {
    padding: 0 calc(180px + (100vw - 1440px) * (240 / 480));

    @media (max-width: 1440px) {
        padding: 0 180px;
    }
}

@import "blocks/header/header";
@import "blocks/header/header-item";
@import "blocks/footer";

@import "banners/banner";

@import "optionally/talkMe";
@import "optionally/climb";
@import "optionally/production_direction.scss";
@import "optionally/descriptions.scss";
@import "optionally/products";
@import "optionally/contactWithUs";

@import "docs/docs";

@import "pages/certificates/certs";
@import "pages/events/event";
@import "pages/news/news-cards";
@import "pages/news/news-rows";
@import "pages/webinars/webinar";
@import "pages/company/company";
@import "pages/contacts/contacts";
@import "pages/information/information";
@import "pages/search/search";