._647ef1825e25e {
    display: grid;

    align-items: center;

    row-gap: 26px;

    width: 100%;

    margin-top: 80px;
    margin-bottom: 45px;

    .document-preview {
        margin: auto;

        width: 250px;
        height: 178px;

        canvas {
            width: inherit !important;
            height: inherit !important;
        }
    }

    .modal-canvas {
        display: flex;
        flex-wrap: wrap;

        row-gap: 15px;
        column-gap: 15px;

        canvas {
            width: 250px;
            height: 178px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
        }
    }
}

._647ef1825e25e-fullview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, .25);

    overflow-x: hidden;
    overflow-y: auto;

    z-index: 1056;

    canvas {
        margin: 0 auto;
    }
}