// Little Description group
._64787a1a85c80-group {
    margin-top: 160px;
    margin-bottom: 120px;

    ._64787a1a85c80  {
        margin: 0;
    }

    ._64787a1a85c80 + ._64787a1a85c80 {
        margin-top: 26px;
    }
}
// Little Description group

// Little Description
._64787a1a85c80 {
    display: grid;
    grid-template-columns: 33% 61.5%;
    column-gap: 5.5%;

    margin-top: 160px;
    margin-bottom: 120px;

    .little-title {
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;

            text-transform: uppercase;

            color: #000000;
        }
    }

    .little-description {
        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;

            text-align: justify;

            color: #212121;

            margin: 0;
        }
    }

    .mini {
        display: flex;
        align-items: center;
        column-gap: 36px;

        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 26px;

            text-align: justify;

            color: #212121;

            margin: 0;
        }
    }
}
// Little Description

// Page Description
._647860f49077c {
    margin: 57px 0;

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 25px;

      text-align: justify;

      color: #212121;
    }
}
// Page Description